.tasks {
  background-color: var(--secondary-background);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.actions {
  text-align: right;
  margin-bottom: 10px;
}
.action {
  background-color: var(--blue);
  color: white;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}
