.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 2px solid #737373;
  border-radius: 50%;
  cursor: pointer;
  color: var(--orange);
  font-weight: 900;
}
.checked {
  border: 2px solid var(--orange);
}
